.footer
	background-color: $footer
	color: #fff
	display: flex
	// margin-bottom: 114px
	&__text
		margin: 83px 87px 92px 80px
	&__title
		font-size: 48px
		line-height: 59px
		padding-bottom: 26px
		+bold
	&__description
		font-size: 28px
		line-height: 91.2%

	&__news
		// display: flex
		margin: 91px 80px 114px 0
	&__form
		display: flex
		// justify-content: space-between
	&__email
		padding: 24px 0 24px 33px
		border-radius: 10px
		font-size: 14px
		line-height: 17px
		min-width: 300px
		margin-right: 16px
	// &__button
	// 	padding: 22px 75px
	&__checkbox
		margin-top: 24px
		display: flex
		align-items: center
	&__check
		margin-right: 18px
		background: $cardsbutton
		// цвет не меняется погугли вроде как надо скрыть этот и задать новый
		border-radius: 3px
		width: 18px
		height: 18px
	&__subscription
		font-size: 14px
		line-height: 17px
		padding-top: 3px

	&__subscribe
		padding: 24px 75px
		border-radius: 10px
		color: #fff
		background: $cardsbutton
		font-size: 14px
		line-height: 17px
		+bold
	// 	margin-left: 18px
