.header
	margin: 0 auto

	// background: rgba(31, 32, 33, 0.79)
	background-image: url("../img/bg-img.jpg")
	// position: relative
	// // &::after
	// // 	content: ''
	// // 	background: #1F2021
	// 	// position: relative
	// 	// position: absolute
	// &::before
	// 	content: ''
	// 	background: #1F2021
	// 	// position: relative
	// 	position: absolute
	// border: 1px solid #000000
	// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
	// background-clip: text
	// color: rgba(31, 32, 33, 0.79)

	// background-image: rgba(31, 32, 33, 0.79)
	// background-image: #1F2021
	// background-color: #1F2021
	// background-image: fill #1F2021
	// &::before
	// 	content: ''
	// 	background-image: rgba(31, 32, 33, 0.79)
	// 	margin: 0 auto
	// 	max-width: 1280px
	// background-blend-mode: darken
	// background: url("../img/bg-img.jpg")  no-repeat 

	// width: 100%
	// это тож не обяз как я понял

	// position: absolute
	// background-repeat: no-repeat
	// height: 252px
	// left: 0px
	// top: 0px
	// &::before
	// background: rgba(31, 32, 33, 0.79)

	// fill: #1F2021 79%

	// background: rgba(31, 32, 33, 0.79)
	&__text
		color: white
		padding: 36px 0 66px
		font-size: 38px
		line-height: 46px
		color: #FFFFFF
		+bold
	// &::after
	// 	background: rgba(31, 32, 33, 0.79)

.navbar
	display: flex
	justify-content: space-between
	align-items: center
	padding-top: 26px
	&__menu
		display: flex
		font-size: 18px
		line-height: 22px
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
		padding-right: 290px
	&__link
		// display: flex
		// justify-content: space-between
		color: white
		padding-left: 60px

	&__logo
		// padding: 26px 120px 36px 131px
	&__number
		font-size: 24px
		line-height: 29px
		color: #FFFFFF
		+bold
	&__text
		font-size: 18px
		line-height: 22px
		text-align: right
		color: #FFFFFF

@media (max-width: 1310px)
	.navbar
		&__menu
			font-size: 16px
			padding-right: 240px
		&__number
			font-size: 21px
		&__text
			font-size: 15px

	.header
		&__text
			font-size: 29px

@media (max-width: 1200px)
	.navbar
		&__menu
			padding-right: 60px

@media (max-width: 1020px)
	.header
		&__text
			font-size: 24px

	.navbar
		// display: block
		&__menu
			// display: block
			font-size: 17px
			padding-right: 0
		&__number
			font-size: 17px
		&__link
			padding-left: 0
			padding-right: 35px
			// padding-top: 10px
	