.choice
	display: flex
	align-items: center
	padding: 37px 0 38px
	&__sort
		font-size: 18px
		line-height: 22px
		+bold

.price
	&__text
		padding: 0 14px 0 42px
		font-size: 18px
		line-height: 22px
	&__down
		vertical-align: middle

.age
	&__text
		padding: 0 24px 0 55px
		font-size: 18px
		line-height: 22px

.cards
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	&__price
		margin-bottom: 23px
		&:hover
			border-color: $cardsbutton
			// хз почему тут ховер не применяет а море применяет

	&__text
		background-color: $cardstext
		padding: 0 29px 0 33px
		// padding-right: 33px
		// z-index: 1
		// position: relative
	&__title
		padding: 29px 0 22px
		font-size: 24px
		line-height: 29px
		+bold
	&__description
		display: flex
		justify-content: space-between
		padding-right: 33px
		// padding-left: 0
		// position: relative
		&::before
			content: ''
			width: 4px
			height: 26px
			background-color: $cardsbutton

	&__money
		padding: 16px 0 29px
		font-size: 24px
		line-height: 29px
		+bold
	&__button
		padding: 22px 55px
		background-color: $cardsbutton
		color: white
		font-size: 16px
		line-height: 20px
		text-align: center
		width: 380px
		border-radius: 0 0 10px 10px
		+bold

	&__color
		font-size: 12px
		line-height: 15px

	&__age, &__paws
		&1
			font-size: 16px
			line-height: 20px
			+bold
		&2
			font-size: 12px
			line-height: 15px

	&__image1
		z-index: 1
		position: relative
	&__image2
		z-index: 2
		position: absolute
		padding: 34px 0 0 38px
	&__image3
		z-index: 2
		position: absolute
		padding: 34px 0 0 302px
		// padding-right: 264px
		// margin-right: 264px
		// padding-right: 264px

	// &__paws
	// 	// padding-right: 33px
	// 	&1
	// 		font-size: 16px
	// 		line-height: 20px
	// 		+bold
	// 	&2
	// 		font-size: 12px
	// 		line-height: 15px
.more
	display: flex
	// margin-top: 68px
	// margin-bottom: 49px
	// flex-direction: row
	justify-content: center
	// align-items: baseline
	&__button
		font-size: 14px
		line-height: 17px
		text-align: center
		width: 380px
		padding: 24px 127px
		background-color: #fff
		border: 1px solid $morebutton
		border-radius: 10px
		margin: 45px 0 83px
		&:hover
			border-color: $cardsbutton

	// &__up
		// align-self: flex-end
		// margin-top: 40px
		// width: 59px
		// height: 59px
		// background-color: $cardsbutton
		// margin: 108px 0 49px 339px

// .up
// 	display: flex
// 	justify-content: flex-end
	// &__button
	// 	width: 59px
	// 	height: 59px
	// 	background-color: $cardsbutton

@media (max-width: 1420px)
	.cards
		justify-content: space-around
		&__price
			margin-right: 5px
			margin-left: 5px

// @media (max-width: px)
// 	.cards
// 		&__price
// 			background-position: 50% 50%
			// margin: 5px

@media (max-width: 1420px)
	.cards__price:nth-child(6), .cards__price:nth-child(5)
		display: none

@media (max-width: 840px)
	.cards__price:nth-child(4)
		display: none
	.cards__price
		margin-left: 0
		margin-right: 0
		// width: 300px

@media (max-width: 480px)
	// choice
	// 	display: flex
	// 	flex-wrap: wrap
	.choice__sort
		font-size: 15px
	.price__text
		padding-right: 3px
		padding-left: 13px
		font-size: 15px
	.age__text
		padding-left: 13px
		padding-right: 3px
		font-size: 15px
@media (max-width: 390px)
	.cards
		&__image1
			max-width: 318px
		&__image3
			padding-left: 240px
			// margin: 0 auto
		// max-width: 300px
		// &__price
		// 	width: auto
		&__button
			max-width: 318px

	.more
		&__button
			max-width: 318px
			padding-left: 80px
			padding-right: 80px
