.choice
	display: flex
	align-items: center
	padding: 37px 0 38px
	&__sort
		font-size: 18px
		line-height: 22px
		+bold

.price
	&__text
		padding: 0 14px 0 42px
		font-size: 18px
		line-height: 22px

.age
	&__text
		padding: 0 24px 0 55px
		font-size: 18px
		line-height: 22px

.cards
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	// &__price:hover
	// 	border: 1px solid $cardsbutton
	&__text
		background-color: $cardstext
		padding: 0 29px 0 33px
		// padding-right: 33px
		// z-index: 1
		// position: relative
	&__title
		padding: 29px 0 22px
		font-size: 24px
		line-height: 29px
		+bold
	&__description
		display: flex
		justify-content: space-between
		// position: relative
	&__money
		padding: 16px 0 29px
		font-size: 24px
		line-height: 29px
		+bold
	&__button
		padding: 22px 55px
		background-color: $cardsbutton
		color: white
		font-size: 16px
		line-height: 20px
		text-align: center
		+bold

	&__color
		font-size: 12px
		line-height: 15px
		// position: relative
		&::before
			content: ''
			position: absolute
			width: 4px
			height: 26px
			background-color: $cardsbutton
			// display: inline-block
			margin-right: 18px

	&__age, &__paws
		&1
			font-size: 16px
			line-height: 20px
			+bold
		&2
			font-size: 12px
			line-height: 15px


	// &__paws
	// 	// padding-right: 33px
	// 	&1
	// 		font-size: 16px
	// 		line-height: 20px
	// 		+bold
	// 	&2
	// 		font-size: 12px
	// 		line-height: 15px
