* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 130px;
}

@media (max-width: 1050px) {
  .container {
    margin: 0 30px;
  }
}

@media (max-width: 760px) {
  .container {
    margin: 0;
  }
}

.header {
  margin: 0 auto;
  background: url("../img/bg-img.jpg");
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  background-position: 40% 60%;
}

.header::after {
  content: '';
  background: rgba(31, 32, 33, 0.49);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
}

.header__text {
  color: white;
  padding: 36px 0 66px;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 290px;
}

.navbar__link {
  color: white;
  padding-left: 60px;
}

.navbar__number {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar__text {
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
}

@media (max-width: 1310px) {
  .navbar__menu {
    font-size: 16px;
    padding-right: 240px;
  }
  .navbar__number {
    font-size: 21px;
  }
  .navbar__text {
    font-size: 15px;
  }
  .header__text {
    font-size: 29px;
  }
}

@media (max-width: 1200px) {
  .navbar__menu {
    padding-right: 60px;
  }
}

@media (max-width: 1020px) {
  .header__text {
    font-size: 24px;
  }
  .navbar__menu {
    font-size: 17px;
    padding-right: 0;
  }
  .navbar__number {
    font-size: 17px;
  }
  .navbar__link {
    padding-left: 0;
    padding-right: 35px;
  }
}

@media (max-width: 760px) {
  .header {
    background-position: 30%;
  }
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0 38px;
}

.choice__sort {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.price__text {
  padding: 0 14px 0 42px;
  font-size: 18px;
  line-height: 22px;
}

.age__text {
  padding: 0 24px 0 55px;
  font-size: 18px;
  line-height: 22px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__price {
  margin-bottom: 23px;
}

.cards__price:hover {
  border-color: #6EBBD3;
}

.cards__text {
  background-color: #F3F3F3;
  padding: 0 29px 0 33px;
}

.cards__title {
  padding: 29px 0 22px;
  font-size: 24px;
  line-height: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.cards__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 33px;
}

.cards__description::before {
  content: '';
  width: 4px;
  height: 26px;
  background-color: #6EBBD3;
}

.cards__money {
  padding: 16px 0 29px;
  font-size: 24px;
  line-height: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.cards__button {
  padding: 22px 55px;
  background-color: #6EBBD3;
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 380px;
  border-radius: 0 0 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.cards__color {
  font-size: 12px;
  line-height: 15px;
}

.cards__age1, .cards__paws1 {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.cards__age2, .cards__paws2 {
  font-size: 12px;
  line-height: 15px;
}

.cards__image1 {
  z-index: 1;
  position: relative;
}

.cards__image2 {
  z-index: 2;
  position: absolute;
  padding: 34px 0 0 38px;
}

.cards__image3 {
  z-index: 2;
  position: absolute;
  padding: 34px 0 0 302px;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more__button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 380px;
  padding: 24px 127px;
  background-color: #fff;
  border: 1px solid #CACACA;
  border-radius: 10px;
  margin: 45px 0 83px;
}

.more__button:hover {
  border-color: #6EBBD3;
}

@media (max-width: 1420px) {
  .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cards__price {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.footer {
  background-color: #1F2021;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  margin: 83px 87px 92px 80px;
}

.footer__title {
  font-size: 48px;
  line-height: 59px;
  padding-bottom: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.footer__description {
  font-size: 28px;
  line-height: 91.2%;
}

.footer__news {
  margin: 91px 80px 114px 0;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__email {
  padding: 24px 0 24px 33px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  min-width: 300px;
  margin-right: 16px;
}

.footer__checkbox {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__check {
  margin-right: 18px;
  background: #6EBBD3;
  border-radius: 3px;
  width: 18px;
  height: 18px;
}

.footer__subscription {
  font-size: 14px;
  line-height: 17px;
  padding-top: 3px;
}

.footer__subscribe {
  padding: 24px 75px;
  border-radius: 10px;
  color: #fff;
  background: #6EBBD3;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@media (max-width: 1440px) {
  .footer__title {
    font-size: 43px;
  }
  .footer__description {
    font-size: 23px;
  }
  .footer__email {
    min-width: 220px;
  }
  .footer__subscribe {
    padding: 24px 45px;
  }
}

@media (max-width: 1280px) {
  .footer__title {
    font-size: 33px;
  }
  .footer__description {
    font-size: 21px;
  }
  .footer__news {
    margin-bottom: 0;
    margin-top: 60px;
    margin-right: 40px;
  }
  .footer__text {
    margin-right: 0;
    margin-top: 60px;
    margin-left: 40px;
  }
  .footer__email {
    min-width: 0;
  }
  .footer__subscription {
    font-size: 12px;
  }
  .footer__subscribe {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1020px) {
  .footer__title {
    font-size: 26px;
  }
  .footer__description {
    font-size: 17px;
  }
}

@media (max-width: 760px) {
  .footer {
    display: block;
    padding: 40px 60px;
  }
  .footer__news {
    margin: 0;
  }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__text {
    display: none;
  }
  .footer__email {
    margin-right: 0;
    width: 200px;
  }
  .footer__subscribe {
    width: 200px;
  }
}

@media (max-width: 578px) {
  .footer__checkbox {
    margin: 5px 0 5px;
  }
}

#arrow {
  display: inline-block;
  background-color: #6EBBD3;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#arrow:hover {
  cursor: pointer;
  background-color: #95cddf;
}

#arrow:active {
  background-color: #47a9c7;
}

#arrow:after {
  content: "\f106";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: white;
}

#arrow.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 760px) {
  #arrow {
    margin: 0;
    right: 0;
  }
}
