* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  margin: 0 130px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  background-image: url("../img/bg-img.jpg");
}

.header__text {
  color: white;
  padding: 36px 0 66px;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 290px;
}

.navbar__link {
  color: white;
  padding-left: 60px;
}

.navbar__number {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar__text {
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0 38px;
}

.choice__sort {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.price__text {
  padding: 0 14px 0 42px;
  font-size: 18px;
  line-height: 22px;
}

.age__text {
  padding: 0 24px 0 55px;
  font-size: 18px;
  line-height: 22px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__price {
  margin-bottom: 23px;
}

.cards__price:hover {
  border-color: #6EBBD3;
}

.cards__text {
  background-color: #F3F3F3;
  padding: 0 29px 0 33px;
}

.cards__title {
  padding: 29px 0 22px;
  font-size: 24px;
  line-height: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.cards__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 33px;
}

.cards__description::before {
  content: '';
  width: 4px;
  height: 26px;
  background-color: #6EBBD3;
}

.cards__money {
  padding: 16px 0 29px;
  font-size: 24px;
  line-height: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.cards__button {
  padding: 22px 55px;
  background-color: #6EBBD3;
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 380px;
  border-radius: 0 0 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.cards__color {
  font-size: 12px;
  line-height: 15px;
}

.cards__age1, .cards__paws1 {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.cards__age2, .cards__paws2 {
  font-size: 12px;
  line-height: 15px;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more__button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 380px;
  padding: 24px 127px;
  background-color: #fff;
  border: 1px solid #CACACA;
  border-radius: 10px;
  margin: 45px 0 83px;
}

.more__button:hover {
  border-color: #6EBBD3;
}
