* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  margin: 0 130px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  background-image: url("../img/bg-img.jpg");
}

.header__text {
  color: white;
  padding: 36px 0 66px;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 290px;
}

.navbar__link {
  color: white;
  padding-left: 60px;
}

.navbar__number {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar__text {
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
}

.main {
  background-color: white;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0 38px;
}

.choice__sort {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.price__text {
  padding: 0 14px 0 42px;
  font-size: 18px;
  line-height: 22px;
}

.age__text {
  padding: 0 24px 0 55px;
  font-size: 18px;
  line-height: 22px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__text {
  background-color: #F3F3F3;
}
